@font-face {
    font-family: 'Lato';
    src: url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff');
    font-weight: regular; // headvy
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}