extends extends/base.pug
append vars
  - var pageUrl = 'index.html';
  - var pageTitle = 'Структура сайта';
  - var classBody = '';
  - var gridShow = true;
block styles
  link(href="css/index.css", rel="stylesheet" )
block content

  //slider
  include ../components/slider/template
  //contacts
  include ../components/contacts/template
  //popup
  include ../components/popup/template

block scripts
