.footer {
    padding: 49px 0 50px;
    background-color: #F9F9F9;

    &__content {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 14px;
            color: $black;

            &:first-child {
                margin-left: -12px;
            }
            
            &:last-child {
                margin-right: -30px;
            }
        }
    }

    @include mq(tablet-wide) {
        &__content {
            padding: 0;
            
            p {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }
}
