.contacts {
    margin-top: 5px;
    background: url('#{$imagesPath}/contacts-bg.png') no-repeat center;
    padding: 126px 0 140px;

    .contacts__content {
        padding-left: 0;
    }

    h2 {
        font-size: 48px;
        // line-height: 1.4em;
        font-family: $secondFF;
        font-weight: $extraBoldFW;
        margin-top: 0;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 73px;
        font-weight: $lightFW;
    }

    .contacts__content {
        &__bottom {
            display: flex;
            justify-content: flex-end;
            padding-right: 55px;

            & > div {
                display: flex;
                align-items: center;
            }
        }
    }

    &__phone {
        margin-right: 40px;
    }

    &__email {
        .icon {
            width: 40px;
            height: 30px;
            margin-right: 15px;
        }
    }

    &__phone,
    &__email {
        a {
            font-size: 21px;
            font-weight: $lightFW;
            color: $white;
            border-bottom: none;
        }
    }

    &__form {
        padding-left: 24px;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        .form-group {
            width: 100%;

            &.is-error {
                label {
                    color: $error;
                }
                input, textarea {
                    border-color: $error;
                }
            }
        }

        & > *:first-child,
        & > *:nth-child(2) {
            width: 50%;
        }

        & > *:nth-child(2) {
            margin-right: -30px;
        }

        & > *:nth-child(3) {
            width: 108%;
            margin-right: -30px;
            margin-top: 38px;
            margin-bottom: 53px;
        }

        input, textarea {
            display: block;
            width: 100%;
            margin-top: 16px;
            background-color: transparent;
            outline: none !important;
            border: none;
            border-bottom: 1px solid $white;
            padding-bottom: 10px;
            font-size: 21px;
            font-family: $baseFF;
            
            @include placeholder() {
                font-size: 21px;
                font-family: $baseFF;
                font-weight: $lightFW;
            }
        }

        .btn {
            &__wrapper {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }

            margin-right: -30px;
            font-size: 18px;
            padding: 19px 38px;
        }
    }
}