div.slider
    .container
        .slider__wrapper
            .slider__item 
                h1 Бухгалтерские услуги <br> в Санкт-Петербурге.
                button.btn Наша презентация
            .slider__item 
                h1 Бухгалтерские услуги <br> в Санкт-Петербурге.
                button.btn Наша презентация
            .slider__item 
                h1 Бухгалтерские услуги <br> в Санкт-Петербурге.
                button.btn Наша презентация
            .slider__item 
                h1 Бухгалтерские услуги <br> в Санкт-Петербурге.
                button.btn Наша презентация

